.home_screen {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 0 29px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: white;
}
.home_screen .work_icon {
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 14px;
  align-content: center;
}
.home_screen .top_inner {
  display: flex;
  flex-direction: column;
  gap: 19px;
  /* About & Work List*/
  /* Notion & TodoList */
  /* Link App */
}
.home_screen .top_inner .top_contents {
  display: flex;
  justify-content: center;
  gap: 19px;
  padding-top: 24px;
}
.home_screen .top_inner .top_contents .about {
  text-align: center;
}
.home_screen .top_inner .top_contents .about .about_icon {
  overflow: hidden;
  width: 158px;
  height: 158px;
  margin-bottom: 5px;
  border-radius: 21px;
}
.home_screen .top_inner .top_contents .work_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
  text-align: center;
}
.home_screen .top_inner .top_contents .work_list .phils {
  padding: 5px;
  background-color: #fff;
}
.home_screen .top_inner .top_contents .work_list .play_press {
  padding: 5px;
  background-color: #F4F1EA;
}
.home_screen .top_inner .top_contents .work_list .portfolio {
  background-color: #fff;
  padding: 5px;
}
.home_screen .top_inner .notion_todo_box {
  display: flex;
  justify-content: space-between;
}
.home_screen .top_inner .notion_todo_box .notion {
  background-color: #fff;
  padding: 5px;
}
.home_screen .top_inner .link_app_list {
  display: flex;
  justify-content: space-between;
}
.home_screen .bottom_inner {
  width: 100%;
  padding-bottom: 10vh;
  /* Swipe Text */
  /* Dock Bar */
}
.home_screen .bottom_inner .swipe_text {
  width: fit-content;
  margin: auto;
  padding: 7px 11px;
  border-radius: 100px;
  background-color: rgba(51, 51, 51, 0.35);
  font-family: "SF-Pro-Text-Semibold";
}
.home_screen .bottom_inner .dock_bar {
  width: calc(100% - 24px);
  margin: auto;
  padding: 12px;
  padding-top: 10px;
}
.home_screen .bottom_inner .dock_bar .inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 19px 21px;
  border-radius: 42px;
  background-color: rgba(51, 51, 51, 0.35);
}
.home_screen .bottom_inner .dock_bar .inner .kakao {
  background-color: #FAE200;
  padding: 5px;
}

/* Home Weather Widgets */
.home_widegets {
  text-align: center;
}
.home_widegets .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 158px;
  padding: 12px 16px;
  margin-bottom: 5px;
  border-radius: 21px;
  background-image: linear-gradient(180deg, rgb(16, 88, 178) 0%, rgb(49, 155, 230) 100%);
  /* font-family: "SF-Pro-Text-Semibold"; */
  font-size: 14px;
}
.home_widegets .current_weather {
  display: flex;
  justify-content: space-between;
}
.home_widegets .current_weather .current_temp {
  font-size: 40px;
  text-align: start;
}
.home_widegets .icon_description_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.home_widegets .icon_description_box .weather_icon img {
  width: 25px;
  filter: brightness(10);
}
.home_widegets .hourly_weather {
  display: flex;
  justify-content: space-between;
}
.home_widegets .hourly_weather li {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.home_widegets .hourly_weather li .time {
  font-size: 12px;
  color: #eee;
}
.home_widegets .hourly_weather li .time-icon img {
  width: 25px;
  filter: brightness(10);
}

/*# sourceMappingURL=HomeScreen.css.map */
