.home_screen {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 0 29px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: white;
  // transition: opacity 0.3s ease-in-out;
  .work_icon {
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 14px;
    align-content: center;
  }

  .top_inner {
    display: flex;
    flex-direction: column;
    gap: 19px;

    /* About & Work List*/ 
    .top_contents {
      display: flex;
      justify-content: center;
      gap: 19px;
      padding-top: 24px;

      .about {
        text-align: center;
        .about_icon {
          overflow: hidden;
          width: 158px;
          height: 158px;
          margin-bottom: 5px;
          border-radius: 21px;
        }
      } 

      .work_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 19px;
        text-align: center;
        .phils {
          padding: 5px;
          background-color: #fff;
        }
        .play_press {
          padding: 5px;
          background-color: #F4F1EA;
        }
        .portfolio {
          background-color: #fff;
          padding: 5px;
        }
      }
    }

    /* Notion & TodoList */ 
    .notion_todo_box {
      display: flex;
      justify-content: space-between;
      .notion {
        background-color: #fff;
        padding: 5px;
      }
    }

    /* Link App */
    .link_app_list {
      display: flex;
      justify-content: space-between;
    }
  }

  .bottom_inner {
    width: 100%;
    padding-bottom: 10vh;

    /* Swipe Text */
    .swipe_text {
      width: fit-content;
      margin: auto;
      padding: 7px 11px;
      border-radius: 100px;
      background-color: rgba(51, 51, 51, .35);
      font-family: "SF-Pro-Text-Semibold";
    }

    /* Dock Bar */
    .dock_bar {
      width: calc(100% - 24px);
      margin: auto;
      padding: 12px;
      padding-top: 10px;
      .inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 19px 21px;
        border-radius: 42px;
        background-color: rgba(51, 51, 51, .35);
        .kakao {
          background-color: #FAE200;
          padding: 5px;
        }
      }
    }
  }
  }



/* Home Weather Widgets */
.home_widegets {
  text-align: center;
  
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 158px;
    padding: 12px 16px;
    margin-bottom: 5px;
    border-radius: 21px;
    background-image: linear-gradient(180deg, rgba(16,88,178,1) 0%, rgba(49,155,230,1) 100%);
    /* font-family: "SF-Pro-Text-Semibold"; */
    font-size: 14px;
  }

  .current_weather {
    display: flex;
    justify-content: space-between;
    .current_temp {
      font-size: 40px;
      text-align: start;
    }
  }
  .icon_description_box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    .weather_icon img {
      width: 25px;
      filter: brightness(10)
    }
  }

  .hourly_weather {
    display: flex;
    justify-content: space-between;
    li {
      display: flex;
      flex-direction: column;
      gap: 3px;
      .time {
        font-size: 12px;
        color: #eee;
      }
      .time-icon img {
        width: 25px;
        filter: brightness(10)
      }
    }
  }
}

