.lock-screen {
  height: 100%;
}

/* NowDate css */
.now-date {
  margin-top: 26px;
  color: white;
}

.today {
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.today .day,
.today .month,
.today .day,
.today .big-time {
  backdrop-filter: blur(40px);
}

.big-time {
  font-family: "SF-Pro-Display-Semibold";
  font-size: calc(60px + 2vw);
}