.lock_screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  height: 100vh;
  /* background-image: url(/public/image/iphone_bg.jpg);
  background-size: cover; */
}

/* NowDate css */
.now_date {
  padding-top: 24px;
  color: white;
}

.today {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
}

.today .day,
.today .month,
.today .day,
.today .big-time {
  backdrop-filter: blur(40px);
}

.big_time {
  font-family: "SF-Pro-Display-bold";
  font-size: calc(60px + 2vw);
  text-align: center;
}

/* content-bottom */
.con_bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* flash-camera */
.flash_camera_box {
  display: flex;
  justify-content: space-between;
  padding: 0 46px;
  padding-bottom: 10vh;
}

.flash,
.camera {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, .26);
  backdrop-filter: blur(67.96px);
  align-content: center;
}

.flash img,
.camera img {
  margin: auto;
}

/* swipe-box */
.swipe_box {
  width: 100%;
  transform: translateY(-80px);
  animation: updownMove .7s linear 0s infinite alternate;
}

@keyframes updownMove {
  from { transform: translateY(-80px) }
  to { transform: translateY(-90px) }
}

/* swipe-up */
.swipe_up {
  text-align: center;
  color: white;
}

/* indicator */
.indicator {
  /* position: absolute;
  bottom: -34px; */
  width: 100%;
  height: 16px;
  align-content: end;
}

.indicator .bar {
  width: 50%;
  height: 5px;
  margin: auto;
  border-radius: 100px;
  background-color: white;
  
}