.main {
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 100vh;
  min-height: -webkit-fill-available;
  /* iOS Safari에서 주소창 문제 해결*/
  max-height: 1024px;
  /* 너무 긴 화면 방지 */
  padding-bottom: env(safe-area-inset-bottom);

  /* iPhone X 이후 홈바 고려 */
  &::-webkit-scrollbar {
    display: none;
  }
}

/****************************************************************************************************
  About Page 
****************************************************************************************************/
// Mobile
.about_page {
  overflow-y: hidden;
  height: 100dvh;
  background-color: #fff;

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .contents {
    overflow-y: auto;
    height: 100%;
    padding: 0 16px;
    padding-top: 16px;
    background-color: #F2F2F7;

    &::-webkit-scrollbar {
      display: none;
    }

    .list {
      display: flex;
      flex-direction: column;
      padding-left: 16px;
      border-radius: 10px;
      background-color: #fff;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.43px;
    }

    .info {
      padding-bottom: 16px;

      .img {
        overflow: hidden;
        max-height: 50vh;
        margin-bottom: 16px;
        border-radius: 10px;
      }

      .list {

        div {
          display: flex;
          justify-content: space-between;
          padding: 10px 0;

          &:not(:last-child) {
            border-bottom: .33px solid rgba(86, 86, 86, .2);
          }
        }

        .title {
          color: rgba(60, 60, 60, .6);
        }

        .detail {
          padding-right: 16px;
        }
      }

    }

    .education_and_certifications {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;
      padding-bottom: 16px;

      &::-webkit-scrollbar {
        display: none;
      }

      .header_title {
        padding: 0 16px;
        padding-bottom: 7px;
        font-size: 13px;
        line-height: 16px;
        color: rgba(60, 60, 60, .6);
      }

      li {
        padding: 10px 0;

        &:not(:last-child) {
          border-bottom: 0.33px solid rgba(86, 86, 86, .2);
        }
      }

      .education {

        .period {
          font-size: 13px;
          line-height: 18px;
          letter-spacing: -0.08px;
          color: rgba(60, 60, 60, .6);
        }
      }

    }

    .skills {
      padding-bottom: 16px;

      li {
        display: flex;
        align-items: center;
        gap: 12px;

        &:last-child .skill_name {
          border: none;
        }


      }

      .img {
        margin-left: 8px;

        img {
          width: 30px;
        }
      }

      .skill_name {
        width: 100%;
        min-height: 44px;
        align-content: center;
        border-bottom: 0.33px solid rgba(86, 86, 86, .2);

      }
    }
  }

  .tab_menu {
    padding: 0 16px;

    ul {
      display: flex;
      justify-content: space-between;
      padding: 12px 16px;

      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        font-size: 12px;
        font-weight: 500;
        color: #999999;
      }

      .active {
        color: #007AFF;

      }

      img {
        width: 30px;
      }
    }
  }
}

/****************************************************************************************************
  Web Redesign Page 
****************************************************************************************************/
.web_redesign_box {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  background-color: #fff;

  .nav_bar {
    border-bottom: 0.3px solid rgba(0, 0, 0, .3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  }

  .web_contents {
    overflow: hidden;
    height: 100%;
    background-color: #F2F2F7;

    .inner {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-bottom: 16px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .box {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 15px;
      padding: 16px;

      .overflow_box {
        overflow-y: auto;
        height: 35vh;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

        &:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .link_box {
        min-width: 250px;
        border-radius: 12px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.43px;
        cursor: pointer;

        button.link_btn {
          width: 100%;
        }

        .link_btn {
          display: flex;
          justify-content: space-between;
          padding: 10px 16px;

          &:not(:last-child) {
            border-bottom: .5px solid rgba(128, 128, 128, .5);
          }
        }

        img {
          width: 11px;
        }
      }
    }
  }

  .popup_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(115 115 115 / 20%);
    backdrop-filter: blur(2px);
    transform: translate(-50%, -50%);

    .popup_content {
      position: absolute;
      top: 50%;
      width: 100%;
      border-radius: 13px;
      // &::before {
      //   display: block;
      //   content: '';
      //   width: 3px;
      //   height: 13px;
      //   margin: auto;
      //   border-bottom: 13px solid rgb(255 255 255 / 90%);
      //   border-left: 13px solid transparent;
      //   border-right: 13px solid transparent;
      //   box-shadow: 0 10px 100px rgb(0 0 0 / 30%);
      // }

      .popup_inner {
        overflow: hidden;
        max-width: 55vw;
        margin: auto;
        border-radius: 13px;
        background-color: rgb(255 255 255 / 90%);
        box-shadow: 0 10px 100px rgb(0 0 0 / 30%);
        backdrop-filter: blur(130px);

      }

      .title_and_description {
        padding: 12px 20px 14px 20px;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.08px;
        color: rgb(61 61 61 / 80%);

        .title {
          margin-bottom: 4px;
          font-weight: 600;
          text-align: center;

        }
      }

      .details {
        font-size: 17px;
        text-align: center;
        line-height: 22px;
        letter-spacing: -.043px;
        color: #007AFF;

        .txt {
          padding: 17px 0;
          border-top: 0.03px solid rgba(128, 128, 128, .5);
        }
      }

      .close-btn {
        color: #FF3B30;
        cursor: pointer;
      }

    }
  }
}

/****************************************************************************************************
  Side Bar
****************************************************************************************************/
.sidebar {
  min-width: 22vw;
  padding-top: 50px;
  background-color: #F2F2F7;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.43px;

  .back_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 10px;

    .back {
      display: flex;
      gap: 6px;
      padding: 11px 8px;
      color: #007AFF;
      cursor: pointer;
    }

    .side_btn {

      img {
        width: 31px;
      }
    }
  }

  .title {
    margin-top: 10px;
    padding: 4px 0 4px 24px;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.4px;
  }

  .ul_box {

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      padding-bottom: 2px;

      &:first-child p {
        color: #007AFF;
      }

      p {
        margin: 10px 8px;
        font-family: "SF-Pro-Text-Semibold";
        color: rgba(60, 60, 67, .6);
      }

      img {
        width: 16px;
      }
    }
  }

  .add_box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 24px;

    img {
      width: 28px;
    }
  }
}

/****************************************************************************************************
  Tablet min-width: 768px 
****************************************************************************************************/
// Tablet
@media screen and (min-width: 768px) {

  // About Page
  .about_page {

    .contents {

      .info {

        .img {
          max-height: 60vh;
          margin: auto;
          margin-bottom: 16px;
        }

        .list {
          max-width: 740px;
          margin: auto;
        }
      }
    }
  }

  // Web Redesign Page
  .web_redesign_box {
    flex-direction: row;

    .web_contents {
      padding-top: 66px;
      background-color: #fff;


      .popup_inner {
        max-width: 35vw;
      }
    }

  }

  // Side Bar
  .sidebar {
    min-width: 23vw;
  }

}

/****************************************************************************************************
  Tablet min-width: 1080px 
****************************************************************************************************/
@media screen and (min-width: 1080px) {

  // About Page
  div:has(.about_page) {
    height: 100%;
  }

  .about_page {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff;

    .inner {
      width: 100%;
    }

    .contents {
      display: flex;
      gap: 16px;
      width: 100%;
      padding: 16px;
      padding-top: 66px;
      background-color: #fff;

      .list {
        padding-left: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }

      .info {

        .img {
          overflow: hidden;
          border-radius: 12px;

          img {
            width: 21vw;
          }
        }

        .list {
          margin-top: 16px;
          padding-left: 0;
          border-radius: 12px;

          div {
            padding-left: 12px;
          }
        }
      }

      .education_and_certifications {
        width: 43vw;

        .list {
          border-left: 1px solid #eee;
          border-right: 1px solid #eee;

          li {
            padding-left: 12px;
            padding-right: 12px;
          }
        }

      }

      .skills {
        width: 26vw;

        &::before {
          content: 'SKILLS';
          display: block;
          padding: 0 16px;
          padding-bottom: 7px;
          font-size: 13px;
          line-height: 16px;
          color: rgba(60, 60, 60, 0.6);
        }

        li {
          border-bottom: 0.33px solid rgba(86, 86, 86, 0.2);
          padding-left: 8px;
          padding-right: 12px;

        }

        .skill_name {
          border: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1210px) {

  .web_redesign_box {
    .popup_overlay {
      .popup_content {
        .popup_inner {
          max-width: 25vw;
        }
      }
    }
  }

}