@charset "UTF-8";
.main {
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 100vh;
  min-height: -webkit-fill-available;
  /* iOS Safari에서 주소창 문제 해결*/
  max-height: 1024px;
  /* 너무 긴 화면 방지 */
  padding-bottom: env(safe-area-inset-bottom);
  /* iPhone X 이후 홈바 고려 */
}
.main::-webkit-scrollbar {
  display: none;
}

/****************************************************************************************************
  About Page 
****************************************************************************************************/
.about_page {
  overflow-y: hidden;
  height: 100dvh;
  background-color: #fff;
}
.about_page .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.about_page .contents {
  overflow-y: auto;
  height: 100%;
  padding: 0 16px;
  padding-top: 16px;
  background-color: #F2F2F7;
}
.about_page .contents::-webkit-scrollbar {
  display: none;
}
.about_page .contents .list {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.43px;
}
.about_page .contents .info {
  padding-bottom: 16px;
}
.about_page .contents .info .img {
  overflow: hidden;
  max-height: 50vh;
  margin-bottom: 16px;
  border-radius: 10px;
}
.about_page .contents .info .list div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.about_page .contents .info .list div:not(:last-child) {
  border-bottom: 0.33px solid rgba(86, 86, 86, 0.2);
}
.about_page .contents .info .list .title {
  color: rgba(60, 60, 60, 0.6);
}
.about_page .contents .info .list .detail {
  padding-right: 16px;
}
.about_page .contents .education_and_certifications {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  padding-bottom: 16px;
}
.about_page .contents .education_and_certifications::-webkit-scrollbar {
  display: none;
}
.about_page .contents .education_and_certifications .header_title {
  padding: 0 16px;
  padding-bottom: 7px;
  font-size: 13px;
  line-height: 16px;
  color: rgba(60, 60, 60, 0.6);
}
.about_page .contents .education_and_certifications li {
  padding: 10px 0;
}
.about_page .contents .education_and_certifications li:not(:last-child) {
  border-bottom: 0.33px solid rgba(86, 86, 86, 0.2);
}
.about_page .contents .education_and_certifications .education .period {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.08px;
  color: rgba(60, 60, 60, 0.6);
}
.about_page .contents .skills {
  padding-bottom: 16px;
}
.about_page .contents .skills li {
  display: flex;
  align-items: center;
  gap: 12px;
}
.about_page .contents .skills li:last-child .skill_name {
  border: none;
}
.about_page .contents .skills .img {
  margin-left: 8px;
}
.about_page .contents .skills .img img {
  width: 30px;
}
.about_page .contents .skills .skill_name {
  width: 100%;
  min-height: 44px;
  align-content: center;
  border-bottom: 0.33px solid rgba(86, 86, 86, 0.2);
}
.about_page .tab_menu {
  padding: 0 16px;
}
.about_page .tab_menu ul {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
}
.about_page .tab_menu ul .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  font-weight: 500;
  color: #999999;
}
.about_page .tab_menu ul .active {
  color: #007AFF;
}
.about_page .tab_menu ul img {
  width: 30px;
}

/****************************************************************************************************
  Web Redesign Page 
****************************************************************************************************/
.web_redesign_box {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  background-color: #fff;
}
.web_redesign_box .nav_bar {
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.web_redesign_box .web_contents {
  overflow: hidden;
  height: 100%;
  background-color: #F2F2F7;
}
.web_redesign_box .web_contents .inner {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 16px;
}
.web_redesign_box .web_contents .inner::-webkit-scrollbar {
  display: none;
}
.web_redesign_box .web_contents .box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  padding: 16px;
}
.web_redesign_box .web_contents .box .overflow_box {
  overflow-y: auto;
  height: 35vh;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.web_redesign_box .web_contents .box .overflow_box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.web_redesign_box .web_contents .box .overflow_box::-webkit-scrollbar {
  display: none;
}
.web_redesign_box .web_contents .box .link_box {
  min-width: 250px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.43px;
}
.web_redesign_box .web_contents .box .link_box button.link_btn {
  width: 100%;
}
.web_redesign_box .web_contents .box .link_box .link_btn {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
}
.web_redesign_box .web_contents .box .link_box .link_btn:not(:last-child) {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
}
.web_redesign_box .web_contents .box .link_box img {
  width: 11px;
}
.web_redesign_box .popup_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(115, 115, 115, 0.2);
  backdrop-filter: blur(2px);
  transform: translate(-50%, -50%);
}
.web_redesign_box .popup_overlay .popup_content {
  position: absolute;
  top: 50%;
  width: 100%;
  border-radius: 13px;
}
.web_redesign_box .popup_overlay .popup_content .popup_inner {
  overflow: hidden;
  max-width: 85%;
  margin: auto;
  border-radius: 13px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(130px);
}
.web_redesign_box .popup_overlay .popup_content .title_and_description {
  padding: 12px 20px 14px 20px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.08px;
  color: rgba(61, 61, 61, 0.8);
}
.web_redesign_box .popup_overlay .popup_content .title_and_description .title {
  margin-bottom: 4px;
  font-weight: 600;
  text-align: center;
}
.web_redesign_box .popup_overlay .popup_content .details {
  font-size: 17px;
  text-align: center;
  line-height: 22px;
  letter-spacing: -0.043px;
  color: #007AFF;
}
.web_redesign_box .popup_overlay .popup_content .details .txt {
  padding: 17px 0;
  border-top: 0.03px solid rgba(128, 128, 128, 0.5);
}
.web_redesign_box .popup_overlay .popup_content .close-btn {
  color: #FF3B30;
  cursor: pointer;
}

/****************************************************************************************************
  Side Bar
****************************************************************************************************/
.sidebar {
  min-width: 22vw;
  padding-top: 50px;
  background-color: #F2F2F7;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.43px;
}
.sidebar .back_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 10px;
}
.sidebar .back_box .back {
  display: flex;
  gap: 6px;
  padding: 11px 8px;
  color: #007AFF;
  cursor: pointer;
}
.sidebar .back_box .side_btn img {
  width: 31px;
}
.sidebar .title {
  margin-top: 10px;
  padding: 4px 0 4px 24px;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.4px;
}
.sidebar .ul_box li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  padding-bottom: 2px;
}
.sidebar .ul_box li p {
  margin: 10px 8px;
  font-family: "SF-Pro-Text-Semibold";
  color: rgba(60, 60, 67, 0.6);
}
.sidebar .ul_box li img {
  width: 16px;
}
.sidebar .add_box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 24px;
}
.sidebar .add_box img {
  width: 28px;
}

/****************************************************************************************************
  Tablet min-width: 768px 
****************************************************************************************************/
@media screen and (min-width: 768px) {
  .about_page .contents .info .img {
    max-height: 60vh;
    margin: auto;
    margin-bottom: 16px;
  }
  .about_page .contents .info .list {
    max-width: 740px;
    margin: auto;
  }
  .web_redesign_box {
    flex-direction: row;
  }
  .web_redesign_box .web_contents {
    padding-top: 66px;
    background-color: #fff;
  }
  .sidebar {
    min-width: 32vw;
  }
}
/****************************************************************************************************
  Tablet min-width: 1080px 
****************************************************************************************************/
@media screen and (min-width: 1080px) {
  div:has(.about_page) {
    height: 100%;
  }
  .about_page {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  .about_page .inner {
    width: 100%;
  }
  .about_page .contents {
    display: flex;
    gap: 16px;
    width: 100%;
    padding: 16px;
    padding-top: 66px;
    background-color: #fff;
  }
  .about_page .contents .list {
    padding-left: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .about_page .contents .info .img {
    overflow: hidden;
    border-radius: 12px;
  }
  .about_page .contents .info .img img {
    width: 21vw;
  }
  .about_page .contents .info .list {
    margin-top: 16px;
    padding-left: 0;
    border-radius: 12px;
  }
  .about_page .contents .info .list div {
    padding-left: 12px;
  }
  .about_page .contents .education_and_certifications {
    width: 31vw;
  }
  .about_page .contents .education_and_certifications .list {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  .about_page .contents .education_and_certifications .list li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .about_page .contents .skills {
    width: 20vw;
  }
  .about_page .contents .skills li {
    border-bottom: 0.33px solid rgba(86, 86, 86, 0.2);
    padding-left: 8px;
    padding-right: 12px;
  }
  .about_page .contents .skills .skill_name {
    border: none;
  }
}

/*# sourceMappingURL=Main.css.map */
