.mobile {
  overflow-y: none;
  width: 100%;
  min-width: 320px;
  height: 100vh;

  &::-webkit-scollbar {
    display: none;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Lock Screen
.lock_screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 10;
  transition: opacity 0.3s ease-out, transform 0.5s ease-out;
  background-image: url(/public/image/iphone_bg.jpg);
  background-size: cover;

  /* Today Weather css */
  .now_date {
    padding-top: 24px;
    color: white;

    .today {
      display: flex;
      justify-content: center;
      font-size: 22px;
      font-weight: 500;

      .day,
      .month,
      .day,
      .big-time {
        backdrop-filter: blur(40px);
      }
    }

    .big_time {
      font-family: "SF-Pro-Display-bold";
      font-size: calc(60px + 2vw);
      text-align: center;
    }
  }

  /* Weather Forecast */
  .lock_widgets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 33px;
    color: white;

    .left {
      margin: 6px;
      font-weight: 500;

      .top {
        display: flex;
        justify-content: flex-start;
        gap: 3px;

        .weather_icon img {
          width: 25px;
          filter: brightness(10)
        }

        .temp {
          line-height: 20px;
        }

        .city {
          text-align: start;
          text-transform: capitalize;
        }
      }

      .max_min_temp {
        display: flex;
        letter-spacing: .5px;
      }
    }

    .right {
      display: flex;
      gap: 16px;
      height: 60px;
      margin: 7px 0;
      font-weight: 500;

      .rain {
        position: relative;
        margin: 0 7px;

        .rain_txt {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 17px;
        }
      }

      .sun_time {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60px;
        margin: 0 7px;
        border-radius: 100%;
        background-color: rgba(180, 159, 167, .5);
        backdrop-filter: blur(50px);

        .am_pm {
          font-size: 9px;
          line-height: 13px;
        }

        .sun_icon img {
          width: 17px;
          filter: brightness(10);
        }
      }
    }
  }

  /* Content Bottom */
  .con_bottom {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .notifications {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 6px;
      padding: 0 8px;
      padding-bottom: 8px;
      line-height: 20px;
      letter-spacing: -0.23px;

      .inner {
        display: flex;
        gap: 10px;
        width: 100%;
        padding: 14px;
        padding-bottom: 12px;
        border-radius: 24px;
        background-color: rgba(166, 166, 166, .3);
        backdrop-filter: blur(50px);
      }

      .con_img {
        overflow: hidden;
        width: 38px;
        height: 38px;
        border-radius: 8.5px;
        background-color: #fff;
        align-content: center;
      }

      .title {
        font-family: "SF-Pro-Text-Semibold";
      }

      .first_content {
        position: relative;

        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          width: 95%;
          height: 75px;
          border-radius: 24px;
          background-color: rgba(178, 178, 178, 0.5);
          backdrop-filter: blur(50px);
          transform: translateX(-50%);
          z-index: 0;
        }

        .con_img {
          display: none;
        }

        .text_box {
          padding-left: 6px;
        }
      }

      .middle_content {
        .inner {
          margin-top: 8px;
          background-color: rgba(166, 166, 166, .6);
        }
      }

      .last_contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        min-height: 100px;

        .content {
          position: absolute;
          width: 100%;

          &:first-child {
            width: 100%;
            z-index: 5;
          }

          &:nth-child(2) {
            top: 30px;
            top: 10px;
            width: 97%;
            z-index: 4;
          }

          &:nth-child(2) .inner {
            background-color: rgba(178, 178, 178, 0.5);
          }

          &:nth-child(3) {
            top: 60px;
            top: 20px;
            width: 95%;
            z-index: 3;
          }

          &:nth-child(3) .inner {
            background-color: rgba(208, 208, 208, 0.5);
          }

          &:nth-child(4) {
            overflow: hidden;
            top: 90px;
            top: 30px;
            width: 92%;
            z-index: 2;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          &:nth-child(4) .inner {
            background-color: rgba(231, 231, 231, 0.5);
          }
        }
      }
    }

    /* Flash Camera */
    .flash_camera_box {
      display: flex;
      justify-content: space-between;
      padding: 0 46px;
      padding-bottom: 10vh;

      .flash,
      .camera {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: rgba(0, 0, 0, .26);
        backdrop-filter: blur(67.96px);
        align-content: center;
      }

      .flash img,
      .camera img {
        margin: auto;
      }
    }

    /* Swipe Box */
    .swipe_box {
      width: 100%;
      transform: translateY(-80px);
      animation: updownMove .7s linear 0s infinite alternate;

      @keyframes updownMove {
        from {
          transform: translateY(-80px)
        }

        to {
          transform: translateY(-90px)
        }
      }

      .swipe_up {
        text-align: center;
        color: white;
      }
    }

    /* indicator */
    .indicator {
      /* position: absolute;
      bottom: -34px; */
      width: 100%;
      height: 16px;
      align-content: end;

      .bar {
        width: 50%;
        height: 5px;
        margin: auto;
        border-radius: 100px;
        background-color: white;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Home Screen
.home_screen {
  overflow-y: auto;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: white;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease-out, transform 0.5s ease-out;

  // transition: opacity 0.3s ease-in-out;
  &::-webkit-scrollbar {
    display: none;
  }

  .work_icon {
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 14px;
    align-content: center;
  }

  .top_inner {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-bottom: 19px;
    padding: 0 29px;


    /* About & Work List*/
    .top_contents {
      display: flex;
      justify-content: center;
      gap: 19px;
      padding-top: 24px;

      .about {
        text-align: center;
        cursor: pointer;

        .about_icon {
          overflow: hidden;
          width: 158px;
          height: 158px;
          margin-bottom: 5px;
          border-radius: 21px;
        }
      }

      .work_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 19px;
        text-align: center;

        .phils {
          padding: 5px;
          background-color: #fff;
        }

        .play_press {
          padding: 5px;
          background-color: #F4F1EA;
        }

        .portfolio {
          background-color: #fff;
          padding: 5px;
        }
      }
    }


    /* Home Weather Widgets */
    .home_widegets {
      text-align: center;

      .inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 158px;
        padding: 12px 16px;
        margin-bottom: 5px;
        border-radius: 21px;
        background-image: linear-gradient(180deg, rgba(16, 88, 178, 1) 0%, rgba(49, 155, 230, 1) 100%);
        /* font-family: "SF-Pro-Text-Semibold"; */
        font-size: 14px;
      }

      .current_weather {
        display: flex;
        justify-content: space-between;

        .current_temp {
          font-size: 40px;
          text-align: start;
        }
      }

      .icon_description_box {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        .weather_icon img {
          width: 25px;
          filter: brightness(10)
        }
      }

      .hourly_weather {
        display: flex;
        justify-content: space-between;

        li {
          display: flex;
          flex-direction: column;
          gap: 3px;

          .time {
            font-size: 12px;
            color: #eee;
          }

          .time-icon img {
            width: 25px;
            filter: brightness(10)
          }
        }
      }
    }

    /* Notion & TodoList */


    /* Link App */
    .link_app_list {
      display: flex;
      justify-content: space-between;

      .notion {
        background-color: #fff;
        padding: 5px;
      }
    }
  }

  .bottom_inner {
    width: 100%;
    padding-bottom: 10vh;

    /* Swipe Text */
    .swipe_text {
      width: fit-content;
      margin: auto;
      padding: 7px 11px;
      border-radius: 100px;
      background-color: rgba(51, 51, 51, .35);
      font-family: "SF-Pro-Text-Semibold";
    }

    /* Dock Bar */
    .dock_bar {
      width: calc(100% - 24px);
      margin: auto;
      padding: 12px;
      padding-top: 10px;

      .inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 19px 21px;
        border-radius: 42px;
        background-color: rgba(51, 51, 51, .35);

        .kakao {
          background-color: #FAE200;
          padding: 5px;
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// About Page
.about_page {
  overflow-y: hidden;
  height: 100vh;
  background-color: #fff;

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .nav_bar {
    padding-top: 24px;

    .back_box {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 11px 8px;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.43px;
      color: #007AFF;
      cursor: pointer;
    }

    .title_box {
      padding-top: 3px;
      padding-bottom: 8px;
      padding-left: 16px;
      font-size: 34px;
      font-weight: bold;
      line-height: 41px;
      letter-spacing: 0.4px;
    }
  }

  .contents {
    height: 100%;
    padding: 0 16px;
    padding-top: 16px;
    background-color: #F2F2F7;

    .list {
      display: flex;
      flex-direction: column;
      padding-left: 16px;
      border-radius: 10px;
      background-color: #fff;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.43px;
    }


    .info {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .img {
        overflow: hidden;
        max-height: 457px;
        border-radius: 10px;

        img {
          object-fit: contain;
        }
      }

      .list {

        div {
          display: flex;
          justify-content: space-between;
          padding: 10px 0;

          &:not(:last-child) {
            border-bottom: 0.33px solid rgba(86, 86, 86, .2);
          }
        }

        .title {
          color: rgba(60, 60, 60, .6);
        }

        .detail {
          padding-right: 16px;
        }
      }

    }

    .education_and_certifications {
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;

      .header_title {
        padding: 0 16px;
        padding-bottom: 7px;
        font-size: 13px;
        line-height: 16px;
        color: rgba(60, 60, 60, .6);
      }

      li {
        padding: 10px 0;
        &:not(:last-child) {
          border-bottom: 0.33px solid rgba(86, 86, 86, .2);
        }
      }

      .education {

        .period {
          font-size: 13px;
          line-height: 18px;
          letter-spacing: -0.08px;
          color: rgba(60, 60, 60, .6);
        }
      }

    }

    .skills {

      li {
        display: flex;
        align-items: center;
        gap: 12px;
        &:last-child .skill_name {
          border: none;
        }


      }

      .img {
        margin-left: 8px;

        img {
          width: 30px;
        }
      }

      .skill_name {
        width: 100%;
        min-height: 44px;
        align-content: center;
        border-bottom: 0.33px solid rgba(86, 86, 86, .2);
     
      }

      
    }


  }

  .tab_menu {
    padding: 0 16px;
    padding-bottom: 10vh;

    ul {
      display: flex;
      justify-content: space-between;
      padding-top: 7px;
    }

  }

}