.mobile {
  overflow-y: none;
  width: 100%;
  min-width: 320px;
  height: 100vh;
}
.mobile::-webkit-scollbar {
  display: none;
}

.lock_screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 10;
  transition: opacity 0.3s ease-out, transform 0.5s ease-out;
  background-image: url(/public/image/iphone_bg.jpg);
  background-size: cover;
  /* Today Weather css */
  /* Weather Forecast */
  /* Content Bottom */
}
.lock_screen .now_date {
  padding-top: 24px;
  color: white;
}
.lock_screen .now_date .today {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
}
.lock_screen .now_date .today .day,
.lock_screen .now_date .today .month,
.lock_screen .now_date .today .day,
.lock_screen .now_date .today .big-time {
  backdrop-filter: blur(40px);
}
.lock_screen .now_date .big_time {
  font-family: "SF-Pro-Display-bold";
  font-size: calc(60px + 2vw);
  text-align: center;
}
.lock_screen .lock_widgets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 33px;
  color: white;
}
.lock_screen .lock_widgets .left {
  margin: 6px;
  font-weight: 500;
}
.lock_screen .lock_widgets .left .top {
  display: flex;
  justify-content: flex-start;
  gap: 3px;
}
.lock_screen .lock_widgets .left .top .weather_icon img {
  width: 25px;
  filter: brightness(10);
}
.lock_screen .lock_widgets .left .top .temp {
  line-height: 20px;
}
.lock_screen .lock_widgets .left .top .city {
  text-align: start;
  text-transform: capitalize;
}
.lock_screen .lock_widgets .left .max_min_temp {
  display: flex;
  letter-spacing: 0.5px;
}
.lock_screen .lock_widgets .right {
  display: flex;
  gap: 16px;
  height: 60px;
  margin: 7px 0;
  font-weight: 500;
}
.lock_screen .lock_widgets .right .rain {
  position: relative;
  margin: 0 7px;
}
.lock_screen .lock_widgets .right .rain .rain_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
}
.lock_screen .lock_widgets .right .sun_time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  margin: 0 7px;
  border-radius: 100%;
  background-color: rgba(180, 159, 167, 0.5);
  backdrop-filter: blur(50px);
}
.lock_screen .lock_widgets .right .sun_time .am_pm {
  font-size: 9px;
  line-height: 13px;
}
.lock_screen .lock_widgets .right .sun_time .sun_icon img {
  width: 17px;
  filter: brightness(10);
}
.lock_screen .con_bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* Flash Camera */
  /* Swipe Box */
  /* indicator */
}
.lock_screen .con_bottom .notifications {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 6px;
  padding: 0 8px;
  padding-bottom: 8px;
  line-height: 20px;
  letter-spacing: -0.23px;
}
.lock_screen .con_bottom .notifications .inner {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 14px;
  padding-bottom: 12px;
  border-radius: 24px;
  background-color: rgba(166, 166, 166, 0.3);
  backdrop-filter: blur(50px);
}
.lock_screen .con_bottom .notifications .con_img {
  overflow: hidden;
  width: 38px;
  height: 38px;
  border-radius: 8.5px;
  background-color: #fff;
  align-content: center;
}
.lock_screen .con_bottom .notifications .title {
  font-family: "SF-Pro-Text-Semibold";
}
.lock_screen .con_bottom .notifications .first_content {
  position: relative;
}
.lock_screen .con_bottom .notifications .first_content::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  width: 95%;
  height: 75px;
  border-radius: 24px;
  background-color: rgba(178, 178, 178, 0.5);
  backdrop-filter: blur(50px);
  transform: translateX(-50%);
  z-index: 0;
}
.lock_screen .con_bottom .notifications .first_content .con_img {
  display: none;
}
.lock_screen .con_bottom .notifications .first_content .text_box {
  padding-left: 6px;
}
.lock_screen .con_bottom .notifications .middle_content .inner {
  margin-top: 8px;
  background-color: rgba(166, 166, 166, 0.6);
}
.lock_screen .con_bottom .notifications .last_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100px;
}
.lock_screen .con_bottom .notifications .last_contents .content {
  position: absolute;
  width: 100%;
}
.lock_screen .con_bottom .notifications .last_contents .content:first-child {
  width: 100%;
  z-index: 5;
}
.lock_screen .con_bottom .notifications .last_contents .content:nth-child(2) {
  top: 30px;
  top: 10px;
  width: 97%;
  z-index: 4;
}
.lock_screen .con_bottom .notifications .last_contents .content:nth-child(2) .inner {
  background-color: rgba(178, 178, 178, 0.5);
}
.lock_screen .con_bottom .notifications .last_contents .content:nth-child(3) {
  top: 60px;
  top: 20px;
  width: 95%;
  z-index: 3;
}
.lock_screen .con_bottom .notifications .last_contents .content:nth-child(3) .inner {
  background-color: rgba(208, 208, 208, 0.5);
}
.lock_screen .con_bottom .notifications .last_contents .content:nth-child(4) {
  overflow: hidden;
  top: 90px;
  top: 30px;
  width: 92%;
  z-index: 2;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lock_screen .con_bottom .notifications .last_contents .content:nth-child(4) .inner {
  background-color: rgba(231, 231, 231, 0.5);
}
.lock_screen .con_bottom .flash_camera_box {
  display: flex;
  justify-content: space-between;
  padding: 0 46px;
  padding-bottom: 10vh;
}
.lock_screen .con_bottom .flash_camera_box .flash,
.lock_screen .con_bottom .flash_camera_box .camera {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.26);
  backdrop-filter: blur(67.96px);
  align-content: center;
}
.lock_screen .con_bottom .flash_camera_box .flash img,
.lock_screen .con_bottom .flash_camera_box .camera img {
  margin: auto;
}
.lock_screen .con_bottom .swipe_box {
  width: 100%;
  transform: translateY(-80px);
  animation: updownMove 0.7s linear 0s infinite alternate;
}
@keyframes updownMove {
  from {
    transform: translateY(-80px);
  }
  to {
    transform: translateY(-90px);
  }
}
.lock_screen .con_bottom .swipe_box .swipe_up {
  text-align: center;
  color: white;
}
.lock_screen .con_bottom .indicator {
  /* position: absolute;
  bottom: -34px; */
  width: 100%;
  height: 16px;
  align-content: end;
}
.lock_screen .con_bottom .indicator .bar {
  width: 50%;
  height: 5px;
  margin: auto;
  border-radius: 100px;
  background-color: white;
}

.home_screen {
  overflow-y: auto;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: white;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease-out, transform 0.5s ease-out;
}
.home_screen::-webkit-scrollbar {
  display: none;
}
.home_screen .work_icon {
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 14px;
  align-content: center;
}
.home_screen .top_inner {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-bottom: 19px;
  padding: 0 29px;
  /* About & Work List*/
  /* Home Weather Widgets */
  /* Notion & TodoList */
  /* Link App */
}
.home_screen .top_inner .top_contents {
  display: flex;
  justify-content: center;
  gap: 19px;
  padding-top: 24px;
}
.home_screen .top_inner .top_contents .about {
  text-align: center;
  cursor: pointer;
}
.home_screen .top_inner .top_contents .about .about_icon {
  overflow: hidden;
  width: 158px;
  height: 158px;
  margin-bottom: 5px;
  border-radius: 21px;
}
.home_screen .top_inner .top_contents .work_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
  text-align: center;
}
.home_screen .top_inner .top_contents .work_list .phils {
  padding: 5px;
  background-color: #fff;
}
.home_screen .top_inner .top_contents .work_list .play_press {
  padding: 5px;
  background-color: #F4F1EA;
}
.home_screen .top_inner .top_contents .work_list .portfolio {
  background-color: #fff;
  padding: 5px;
}
.home_screen .top_inner .home_widegets {
  text-align: center;
}
.home_screen .top_inner .home_widegets .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 158px;
  padding: 12px 16px;
  margin-bottom: 5px;
  border-radius: 21px;
  background-image: linear-gradient(180deg, rgb(16, 88, 178) 0%, rgb(49, 155, 230) 100%);
  /* font-family: "SF-Pro-Text-Semibold"; */
  font-size: 14px;
}
.home_screen .top_inner .home_widegets .current_weather {
  display: flex;
  justify-content: space-between;
}
.home_screen .top_inner .home_widegets .current_weather .current_temp {
  font-size: 40px;
  text-align: start;
}
.home_screen .top_inner .home_widegets .icon_description_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.home_screen .top_inner .home_widegets .icon_description_box .weather_icon img {
  width: 25px;
  filter: brightness(10);
}
.home_screen .top_inner .home_widegets .hourly_weather {
  display: flex;
  justify-content: space-between;
}
.home_screen .top_inner .home_widegets .hourly_weather li {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.home_screen .top_inner .home_widegets .hourly_weather li .time {
  font-size: 12px;
  color: #eee;
}
.home_screen .top_inner .home_widegets .hourly_weather li .time-icon img {
  width: 25px;
  filter: brightness(10);
}
.home_screen .top_inner .link_app_list {
  display: flex;
  justify-content: space-between;
}
.home_screen .top_inner .link_app_list .notion {
  background-color: #fff;
  padding: 5px;
}
.home_screen .bottom_inner {
  width: 100%;
  padding-bottom: 10vh;
  /* Swipe Text */
  /* Dock Bar */
}
.home_screen .bottom_inner .swipe_text {
  width: fit-content;
  margin: auto;
  padding: 7px 11px;
  border-radius: 100px;
  background-color: rgba(51, 51, 51, 0.35);
  font-family: "SF-Pro-Text-Semibold";
}
.home_screen .bottom_inner .dock_bar {
  width: calc(100% - 24px);
  margin: auto;
  padding: 12px;
  padding-top: 10px;
}
.home_screen .bottom_inner .dock_bar .inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 19px 21px;
  border-radius: 42px;
  background-color: rgba(51, 51, 51, 0.35);
}
.home_screen .bottom_inner .dock_bar .inner .kakao {
  background-color: #FAE200;
  padding: 5px;
}

.about_page {
  overflow-y: hidden;
  height: 100vh;
  background-color: #fff;
}
.about_page .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.about_page .nav_bar {
  padding-top: 24px;
}
.about_page .nav_bar .back_box {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 11px 8px;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.43px;
  color: #007AFF;
  cursor: pointer;
}
.about_page .nav_bar .title_box {
  padding-top: 3px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-size: 34px;
  font-weight: bold;
  line-height: 41px;
  letter-spacing: 0.4px;
}
.about_page .contents {
  height: 100%;
  padding: 0 16px;
  padding-top: 16px;
  background-color: #F2F2F7;
}
.about_page .contents .list {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.43px;
}
.about_page .contents .info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about_page .contents .info .img {
  overflow: hidden;
  max-height: 457px;
  border-radius: 10px;
}
.about_page .contents .info .img img {
  object-fit: contain;
}
.about_page .contents .info .list div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.about_page .contents .info .list div:not(:last-child) {
  border-bottom: 0.33px solid rgba(86, 86, 86, 0.2);
}
.about_page .contents .info .list .title {
  color: rgba(60, 60, 60, 0.6);
}
.about_page .contents .info .list .detail {
  padding-right: 16px;
}
.about_page .contents .education_and_certifications {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}
.about_page .contents .education_and_certifications .header_title {
  padding: 0 16px;
  padding-bottom: 7px;
  font-size: 13px;
  line-height: 16px;
  color: rgba(60, 60, 60, 0.6);
}
.about_page .contents .education_and_certifications li {
  padding: 10px 0;
}
.about_page .contents .education_and_certifications li:not(:last-child) {
  border-bottom: 0.33px solid rgba(86, 86, 86, 0.2);
}
.about_page .contents .education_and_certifications .education .period {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.08px;
  color: rgba(60, 60, 60, 0.6);
}
.about_page .contents .skills li {
  display: flex;
  align-items: center;
  gap: 12px;
}
.about_page .contents .skills li:last-child .skill_name {
  border: none;
}
.about_page .contents .skills .img {
  margin-left: 8px;
}
.about_page .contents .skills .img img {
  width: 30px;
}
.about_page .contents .skills .skill_name {
  width: 100%;
  min-height: 44px;
  align-content: center;
  border-bottom: 0.33px solid rgba(86, 86, 86, 0.2);
}
.about_page .tab_menu {
  padding: 0 16px;
  padding-bottom: 10vh;
}
.about_page .tab_menu ul {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
}

/*# sourceMappingURL=Nobile.css.map */
