.notifications {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 6px;
  padding: 0 8px;
  padding-bottom: 8px;
  line-height: 20px;
  letter-spacing: -0.23px;
}

.notifications .inner {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 14px;
  padding-bottom: 12px;
  border-radius: 24px;
  background-color: rgba(166, 166, 166, .3);
  backdrop-filter: blur(50px);
}

.notifications .first_content {
  position: relative;
}

.notifications .first_content::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  width: 95%;
  height: 75px;
  border-radius: 24px;
  background-color: rgba(178, 178, 178, 0.5);
  backdrop-filter: blur(50px);
  transform: translateX(-50%);
  z-index: 0;
}

.notifications .middle {
  margin-top: 8px;
}

.notifications .con_img {
  overflow: hidden;
  width: 38px;
  height: 38px;
  border-radius: 8.5px;
  background-color: #fff;
  align-content: center;
}

.notifications .first_content .con_img {
  display: none;
}

.notifications .first_content .text_box {
  padding-left: 6px;
}

.notifications .middle_content .inner {
  margin-top: 8px;
}

.notifications .content:nth-child(2) img,
.notifications .content:nth-child(3) img{
  width: 30px;
  margin: auto;
  background-color: #fff;
}

.notifications .content:nth-child(3) .content .con_img {
  background-color: #F4F1EA;
}

.notifications .last_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100px;
}

.notifications .content {
  position: absolute;
  width: 100%; 
}

.notifications .content:first-child {
  width: 100%;
  z-index: 5;
}


.notifications .content:nth-child(2) {
  top: 30px;
  top: 10px;
  width: 97%;
  z-index: 4;
}

.notifications .content:nth-child(2) .inner {
  background-color: rgba(178, 178, 178, 0.5);
}

.notifications .content:nth-child(3) {
  top: 60px;
  top: 20px;
  width: 95%;
  z-index: 3;
}

.notifications .content:nth-child(3) .inner {
  background-color: rgba(208, 208, 208, 0.5);
}

.notifications .content:nth-child(4) {
  overflow: hidden;
  top: 90px;
  top: 30px;
  width: 92%;
  z-index: 2;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notifications .content:nth-child(4) .inner {
  background-color: rgba(231, 231, 231, 0.5);
}

.notifications .title {
  font-family: "SF-Pro-Display-Semibold";
  font-family: "SF-Pro-Text-Semibold";

}