// Status Bar
.status_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.lock_screen>.status_bar {
  color: white;
}

.home_screen>.top_inner>.status_bar {
  font-size: 15px;
}

.status_bar .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.status_bar .now_day_box {
  display: flex;
  font-weight: 600;
}

.status_bar .time {
  padding-right: 6px;
  padding-left: 16px;
  font-family: "SF-Pro-Text-Semibold";
}

.status_bar .levels {
  display: flex;
  gap: 7px;
  padding-right: 16px;
  padding-left: 6px;
}

@media screen and (min-width: 768px) {

  // Lock Screen 
  .lock_screen {

    .now_date {
      padding-top: 76px;
    }

    .lock_widgets {

      .right {

        .rain {

          .rain_icon {
            background-image: url('/public/image/rain_probability_tablet.png');
          }
        }

        .sun_time {
          background-color: rgb(74 196 255 / 60%);
        }
      }
    }

    .con_bottom {

      .notifications {
        min-width: 594px;
        margin: auto;
      }
    }
  }

  // Home Screen
  .home_screen {

    .top_inner {
      gap: 58px;

      .top_contents {
        gap: 58px;
        padding-top: 56px;

        .about {

          .about_icon {
            width: 200px;
            height: 200px;
          }
        }

        .work_list {
          gap: 58px;
        }
      }
    }
    
    .bottom_inner {

      .dock_bar {
        padding-top: 18px;
        padding-bottom: 20px;

        .inner {
          // width: 50vw;
          margin: auto;
          padding: 17px 26px;
        }
      }
    }
  }
}

@media screen and (min-width: 1080px) {

  // Lock Screen 
  .lock_screen {

    .lock_widgets {
      position: absolute;
      top: 210px;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      gap: 18px;
      padding: 0 46px;
    }

    .con_bottom {
      height: 100%;

      .notifications {
        min-width: 594px;
        margin-top: 47px;
      }
    }

    .bottom {
      margin-bottom: 32px;
    }
  }

  // Home Screen
  .home_screen {

    .top_inner {
      gap: 58px;

      .top_content {
        gap: 58px;

        .about {

          .about_icon {
            width: 300px;
            height: 300px;
          }
        }

        .work_list {
          gap: 156px;
        }
      }
    }
    
    .work_icon {
      margin: 0 42px;
    }
  }

}