// Status Bar
.lock_screen>.status_bar {
  color: white;
}

.lock_screen>.status_bar,
.home_screen>.top_inner>.status_bar {
  .data_icon {
    width: 17px;
    height: 10px;
    background-image: url(/public/image/data_icon.webp);
  }

  .wifi_icon {
    width: 14px;
    height: 10px;
    background-image: url(/public/image/wifi_icon.webp);
  }

  .battery_icon {
    width: 27px;
    height: 12px;
    background-image: url(/public/image/battery_icon.webp);
  }
}

.status_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  font-weight: 500;

  .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }

  .now_day_box {
    display: flex;
    font-weight: 600;
  }

  .time {
    padding-right: 6px;
    padding-left: 16px;
  }


  .levels {
    display: flex;
    gap: 7px;
    padding-right: 16px;
    padding-left: 6px;

    .status_bar_icon {
      background-size: cover;
    }
  }
}

@media screen and (min-width: 768px) {

  // Lock Screen 
  .lock_screen {

    .top_inner {
      display: grid;
      row-gap: 32px;
    }

    .now_date {
      padding-top: 76px;
    }

    .lock_widgets {

      .right {

        .rain {

          .rain_icon {
            background-image: url('/public/image/rain_probability_tablet.webp');
          }
        }

        .sun_time {
          background-color: rgb(74 196 255 / 60%);
        }
      }
    }


    .notifications {
      width: 90%;
      max-width: 594px;
      margin: auto;


      .first_content {
        .inner {
          background-color: rgb(211 211 211 / 60%);
        }
      }

      .middle_content {
        .inner {
          background-color: rgb(211 211 211 / 60%);
        }
      }

      .last_contents {

        .content:first-child {
          .inner {
            background-color: rgb(211 211 211 / 40%);
          }
        }

        .content:nth-child(2) {
          .inner {
            background-color: rgb(211 211 211 / 30%);
          }
        }

        .content:nth-child(3) {
          .inner {
            background-color: rgb(211 211 211 / 20%);
          }
        }
        
      }
    }

  }

  // Home Screen
  .home_screen {

    .top_inner {
      gap: 58px;
      margin-top: 66px;

      .top_contents {
        gap: 58px;
        padding-top: 56px;

        .about {

          .about_icon {
            width: 200px;
            height: 200px;
          }
        }

        .work_list {
          gap: 58px;
        }
      }
    }

    .bottom_inner {

      .dock_bar {
        padding-top: 18px;
        padding-bottom: 20px;

        .inner {
          width: fit-content;
          gap: 16px;
          margin: auto;
          padding: 17px 26px;
        }
      }
    }
  }

  // Notion Popup
  .home_overlay {

    .notion_content {
      margin-top: 58px;
    }
  }


  // Status Bar
  .status_bar {

    .data_icon {
      width: 17px;
      height: 10px;
      background-image: url(/public/image/data_icon_black.webp);
    }

    .wifi_icon {
      width: 14px;
      height: 10px;
      background-image: url(/public/image/wifi_icon_black.webp);
    }

    .battery_icon {
      width: 27px;
      height: 12px;
      background-image: url(/public/image/battery_icon_black.webp);
    }
  }
}

@media screen and (min-width: 1080px) {

  // Lock Screen 
  .lock_screen {

    .lock_widgets {
      position: absolute;
      top: 210px;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      gap: 18px;
      padding: 0 46px;
    }

    .con_bottom {
      height: 100%;

      .notifications {
        min-width: 594px;
        margin-top: 47px;
      }
    }

    .bottom {
      margin-bottom: 32px;
    }
  }

  // Home Screen
  .home_screen {

    .top_inner {
      gap: 58px;

      .top_content {
        gap: 58px;

        .about {

          .about_icon {
            width: 300px;
            height: 300px;
          }
        }

        .work_list {
          gap: 156px;
        }

        .work_icon {
          margin: 0 42px;
        }
      }
    }
  }
}

@media screen and (min-width: 1210px) {

  // Home Screen
  .home_screen {

    .top_inner {
      gap: 21px;

      .top_contents {

        .about {

          .about_icon {
            width: 300px;
            height: 300px;
          }
        }

        .work_list {
          grid-template-columns: repeat(4, 1fr);
        }
      }

      .home_widegets {}

    }
  }
}