.lock_screen > .status_bar {
  color: white;
}

.lock_screen > .status_bar .data_icon,
.home_screen > .top_inner > .status_bar .data_icon {
  width: 17px;
  height: 10px;
  background-image: url(/public/image/data_icon.webp);
}
.lock_screen > .status_bar .wifi_icon,
.home_screen > .top_inner > .status_bar .wifi_icon {
  width: 14px;
  height: 10px;
  background-image: url(/public/image/wifi_icon.webp);
}
.lock_screen > .status_bar .battery_icon,
.home_screen > .top_inner > .status_bar .battery_icon {
  width: 27px;
  height: 12px;
  background-image: url(/public/image/battery_icon.webp);
}

.status_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
}
.status_bar .inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.status_bar .now_day_box {
  display: flex;
  font-weight: 600;
}
.status_bar .time {
  padding-right: 6px;
  padding-left: 16px;
}
.status_bar .levels {
  display: flex;
  gap: 7px;
  padding-right: 16px;
  padding-left: 6px;
}
.status_bar .levels .status_bar_icon {
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .lock_screen .top_inner {
    display: grid;
    row-gap: 32px;
  }
  .lock_screen .now_date {
    padding-top: 76px;
  }
  .lock_screen .lock_widgets .right .rain .rain_icon {
    background-image: url("/public/image/rain_probability_tablet.webp");
  }
  .lock_screen .lock_widgets .right .sun_time {
    background-color: rgba(74, 196, 255, 0.6);
  }
  .lock_screen .notifications {
    width: 90%;
    max-width: 594px;
    margin: auto;
  }
  .lock_screen .notifications .first_content .inner {
    background-color: rgba(211, 211, 211, 0.6);
  }
  .lock_screen .notifications .middle_content .inner {
    background-color: rgba(211, 211, 211, 0.6);
  }
  .lock_screen .notifications .last_contents .content:first-child .inner {
    background-color: rgba(211, 211, 211, 0.4);
  }
  .lock_screen .notifications .last_contents .content:nth-child(2) .inner {
    background-color: rgba(211, 211, 211, 0.3);
  }
  .lock_screen .notifications .last_contents .content:nth-child(3) .inner {
    background-color: rgba(211, 211, 211, 0.2);
  }
  .home_screen .top_inner {
    gap: 58px;
    margin-top: 66px;
  }
  .home_screen .top_inner .top_contents {
    gap: 58px;
    padding-top: 56px;
  }
  .home_screen .top_inner .top_contents .about .about_icon {
    width: 200px;
    height: 200px;
  }
  .home_screen .top_inner .top_contents .work_list {
    gap: 58px;
  }
  .home_screen .bottom_inner .dock_bar {
    padding-top: 18px;
    padding-bottom: 20px;
  }
  .home_screen .bottom_inner .dock_bar .inner {
    width: fit-content;
    gap: 16px;
    margin: auto;
    padding: 17px 26px;
  }
  .home_overlay .notion_content {
    margin-top: 58px;
  }
  .status_bar .data_icon {
    width: 17px;
    height: 10px;
    background-image: url(/public/image/data_icon_black.webp);
  }
  .status_bar .wifi_icon {
    width: 14px;
    height: 10px;
    background-image: url(/public/image/wifi_icon_black.webp);
  }
  .status_bar .battery_icon {
    width: 27px;
    height: 12px;
    background-image: url(/public/image/battery_icon_black.webp);
  }
}
@media screen and (min-width: 1080px) {
  .lock_screen .lock_widgets {
    position: absolute;
    top: 210px;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    padding: 0 46px;
  }
  .lock_screen .con_bottom {
    height: 100%;
  }
  .lock_screen .con_bottom .notifications {
    min-width: 594px;
    margin-top: 47px;
  }
  .lock_screen .bottom {
    margin-bottom: 32px;
  }
  .home_screen .top_inner {
    gap: 58px;
  }
  .home_screen .top_inner .top_content {
    gap: 58px;
  }
  .home_screen .top_inner .top_content .about .about_icon {
    width: 300px;
    height: 300px;
  }
  .home_screen .top_inner .top_content .work_list {
    gap: 156px;
  }
  .home_screen .top_inner .top_content .work_icon {
    margin: 0 42px;
  }
}
@media screen and (min-width: 1210px) {
  .home_screen .top_inner {
    gap: 21px;
  }
  .home_screen .top_inner .top_contents .about .about_icon {
    width: 300px;
    height: 300px;
  }
  .home_screen .top_inner .top_contents .work_list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=Tablet.css.map */
