.weather_forecast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 33px;
  color: white;
}

.weather_forecast .left {
  margin: 6px;
  font-weight: 500;
}

.weather_forecast .top {
  display: flex;
  justify-content: flex-start;
  gap: 3px;
}

.weather_forecast .top img {
  width: 25px;
  filter: brightness(10)
}

.weather_forecast .city {
  text-align: start;
  text-transform: capitalize;
}

.weather_forecast .temp {
  line-height: 20px;
}

.weather_forecast .max_min_temp {
  display: flex;
  letter-spacing: .5px;
}

.weather_forecast .right {
  display: flex;
  gap: 16px;
  height: 60px;
  margin: 7px 0;
  font-weight: 500;
}

.weather_forecast .rain {
  position: relative;
  margin: 0 7px;
}

.weather_forecast .rain_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
}

.weather_forecast .sun_time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  margin: 0 7px;
  border-radius: 100%;
  background-color: rgba(180, 159, 167, .5);
  backdrop-filter: blur(50px);
}

.weather_forecast .am_pm {
  font-size: 9px;
  line-height: 13px;
}

.weather_forecast .sun_icon img {
  width: 17px;
  filter: brightness(10);
}