.fullscreen {
	height: calc(var(--vh) * 100);
  height: 100dvh;
  max-height: 1024px;
  min-height: 100vh;
	min-height: -webkit-fill-available; /* iOC Safari 대응 */
	padding-bottom: env(safe-area-inset-bottom);
}

@media screen and (orientation: landscape) {
  .fullscreen {
    min-height: 480px;
    max-height: 768px;
    height: auto;
    overflow-x: auto;
  }
}

@media screen and (min-width: 320px) {
  .fullscreen {
    background-image: url(/public/image/iphone_bg.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .fullscreen {
    background-image: url(/public/image/ipad_bg.jpg);
    background-size: cover;
  }
}